.padding-sm {
    padding: 2px 2px 2px 2px;
}

.content {
    width: 100%;
}

.vis.timeline .item.dot  {
    border-color: black;
    background-color: black;
    top: 10px !important;
    border-width: 6px;
    border-color: rgba(0, 0, 0, 0.8);
    background-color: transparent;
    left: 9px !important;
}

.vis.timeline .customtime {
    background-color: transparent;
    border-color: black;
    border-width: 1px;
    border-style: dashed;

}
.quarterlyRelease {
    border-style: dotted !important;
    border-width: 3px !important;
}

.progress-bar-danger {
    background-color: rgba(50, 50, 50, 0.4);
}

/*.vertical-text {
    transform: rotate(90deg);
    transform-origin: left top 0;
}
*/


/** { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }*/